
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm("ShowImage", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" multiple="multiple" name="images" accept=".jpg, .jpeg"/>
    <input type="submit" value="Upload" />
    if(ViewBag.mess != null)
    {
        <h5 class="text-danger">@ViewBag.mess</h5>
    }
}

