
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">

<body>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
     

    <div class="Slider-col">
        <div class="container-fluid">
            <div class="col-xs-2 col-lg-2 col-md-2 col-lg-2">

            </div>

            <div class="col-xs-8 col-lg-8 col-md-8 col-lg-8 gif">

                <div class="container-fluid">
                    <div class="">
                        <div class="list-img">

                            <div class="slider-fading mySlides">
                                <img src="~/images/hinh2.jpg" style="width:100%">
                                <div class="img-note">

                                </div>
                            </div>

                            <div class="slider-fading mySlides">
                                <img src="~/images/hinh3.jpg" style="width:100%">
                                <div class="img-note">

                                </div>
                            </div>

                            <div class="slider-fading mySlides">
                                <img src="~/images/hinh4.jpg" style="width:100%">
                                <div class="img-note">

                                </div>
                            </div>

                            <div class="slider-fading mySlides">
                                <img src="~/images/hinh2.jpg" style="width:100%">
                                <div class="img-note">

                                </div>
                            </div>

                            <div class="slider-fading mySlides">
                                <img src="~/images/hinh5.jpg" style="width:100%">
                                <div class="img-note">

                                </div>
                            </div>

                            <button class="slider-button button-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="slider-button button-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>

                    </div>

                    <div class="jumbotron">
                        <h3>Say <span style="font-family:Algerian; text-align:center;">hello</span> to My Image</h3>
                        <p style="text-align: left;">
                            You love your photos. So do we. They tell your story.
                            They connect you to the people, places, and memories
                            you cherish, and they helping you turn them into beautiful,
                            personal decor, photo books, mugs, prints, gifts, and more
                            that you'll be proud to shared and can treasure for years
                            to come.
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-xs-2 col-lg-2 col-md-2 col-lg-2">

            </div>
        </div>
    </div>



    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }
    </script>


   
    <section id="main">
        
        <div class="">
            <div class="container-fluid">
                <div class="col-xs-2 col-lg-2 col-md-2 col-lg-2">

                </div>
                <div class="col-xs-8 col-lg-8 col-md-8 col-lg-8 gif">
                    <div class="row">
                        <div class="col-sm-6" style="font-size: 18px;">
                            <h2 class="clr-1">Reviews</h2>
                            <div class="comments">
                                <div> “Thanks to My Image, I was able to print images with ease!!!”</div>
                                <span style="color: maroon;">
                                    <b>Dorris Black </b>
                                </span>
                            </div>
                            <div class="comments">
                                <div> “Without My Image, it would have been impossible for me to print in such a hurry state”</div>
                                <span style="color: maroon;">
                                    <b>Taylor Simpson </b>
                                </span>
                            </div>
                            <div class="comments">
                                <div> “I am very satisfied with the professional style of My Image. They make printing a photo easy as a pie.”</div>
                                <span style="color: maroon;">
                                    <b>Maria Alweather </b>
                                </span>
                            </div>
                            <div class="comments">
                                <div> “Why do we have to bother go to Photo Shop when My Image can do that for us by just a click of a button.”</div>
                                <span style="color: maroon;">
                                    <b>Joshua Roth </b>
                                </span>
                            </div>
                            <div class="comments">
                                <div> My Image, you are the best of the best!!!”</div>
                                <span style="color: maroon;">
                                    <b>Linda Coins </b>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="font-size: 10px;">
                            <h2 class="clr-1">Web Creators</h2>
                            <div class="container-fluid">
                                <div class="row" style="margin-bottom: 20px">
                                   
                                    <div class="col-md-9">
                                        <p style="text-align: left; font-size: 18px;">
                                            <u>Name</u>: Khuc Kim Quang
                                            <br>
                                            <u>Student ID</u>: STUDENT1081259
                                            <br>
                                            <u>Email</u>:
                                            <a href="mailto:khuckimquang94@gmail.com">khuckimquang94@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 20px">
                                   
                                    <div class="col-md-9">
                                        <p style="text-align: left; font-size: 18px;">
                                            <u>Name</u>: Nguyen Manh Thuy Trang
                                            <br>
                                            <u>Student ID</u>: Student1082185
                                            <br>
                                            <u>Email</u>:
                                            <a href="mailto:jamin.2mk@yahoo.com">jamin.2mk@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 20px">
                                    
                                    <div class="col-md-9">
                                        <p style="text-align: left; font-size: 18px;">
                                            <u>Name</u>: Mai Trung Cuong
                                            <br>
                                            <u>Student ID</u>: Student1053897
                                            <br>
                                            <u>Email</u>:
                                            <a href="mailto:dev.trungcuong@gmail.com">dev.trungcuong@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2 col-lg-2 col-md-2 col-lg-2">

                </div>
            </div>
        </div>

    </section>



    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
