@{
    ViewBag.Title = "Error";
}
@{ 
    Layout = null;
}
<h2>Error</h2>
<center>
    <h2>
        WRONG ID OR PASSWORD CLICK @Html.ActionLink("HERE", "Login", "Admin"); to back to login
    </h2>


</center>
